/** Colors **/
:root {
	--main-orange: #ca2604;
	--red: #91171F;
	--wine: #5F021F;
	--vivid-orange: #BC5D2E;
	--light-orange: #EA8C55;
	--yellow: #F0C808;
	--beige: #F5E2C8;
	--champagne: #BBB8B2;
	--white: #FCF7F8;
	--black: #2E2E3A;
}

/** Fonts **/

h1{font-size: 28px; margin: 15px 0 15px;}
h2{font-size: 24px; margin-top:0}
h3{font-size: 20px; margin-top:0}
h4{font-size: 18px; margin-top:0}

/** General Template **/
body {
	overflow-x: hidden;
	background-color: #fff;
}

a {
	color: var(--main-orange);
}

a:hover {
	color: var(--light-orange);
	text-decoration: none;
}

header {
	background-color: var(--white);
}

header.single-post, header.hd-error {
	background-color: transparent;
}

/** Top Menu **/

.top-bar{
	background-color: var(--vivid-orange);
	color: white;
}

.social-media-icons {
	padding: 10px;
}

.search {
	width: 100%;
	margin: 5px auto;
	border-radius: 3px;
	padding: 5px;
	font-size: 14px;
	color: var(--black);
}

.active-pink .fa, .active-pink-4 .fa {
    color: #f48fb1;
}

.active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-4 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

/* Align */
.align { 
	display:flex; 
	align-items: center; 
	width:100%; 
}

/** Menus **/

nav a, nav a:hover, nav a:visited {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-area {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.6em;
	background-color: white;
	box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42);
	color: var(--black);
	padding: 15px 0;
}

/** Main Menu **/

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.main-menu ul li {
	display: inline;
	margin: 0 30px 0 0;
}

.main-menu ul li:last-child {
	margin: 0;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--black);
}

.navbar-light .navbar-nav .active>.nav-link {
	color: var(--main-orange) !important;
}

.main-menu a {
	color: var(--black);
	padding: 15px 0;
	
}

.main-menu a:hover {
	color: var(--main-orange);
}

/** Middle Area **/
.middle-area{
	padding: 25px 0;
}

.middle-area h1{
	color: var(--main-orange);
	text-transform: uppercase;
}

.home .news h1 {
	color: var(--main-orange);
	text-transform: uppercase;
	font-size: 38px;
	font-weight: bold;
}

.home .news .format-image h2, .home .news .format-video h2, .home .news .format-standard h2 {
	color: var(--black);
	background: transparent;
	display: inline-block;
	padding: 10px 0 5px;
	font-weight: bold;
}

.home .news .featured h2 {
	font-size: 35px;
}

.home .news .secondary h2 {
	font-size: 20px;
}

.home .news .meta-info p {
	font-weight: normal;
	margin-bottom: 0;
}

.home .news span, .news span a {
	color: var(--main-orange);
	font-weight: normal;
	margin: 0 2px 0 0;
}



/* Breadcrumbs */
.breadcrumbs {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #181818;
    padding: 15px 0
}

.breadcrumbs a, .breadcrumbs a:visited {
	color: var(--main-orange);
	text-decoration: none;
}

body.home .breadcrumbs {
	display: none;
}

/** Blog **/

.wp-post-image {
	float: left;
	margin: 0 15px 10px 0;
}

.format-image h2 {
	color: #fff;
}

.format-video h2 {
	color: #fff;
}

.format-standard h2 {
	color: #444;
}

.blog-article{
	display: inline-block;
	margin: 0 0 30px;
	width: 100%;
}

.blog-article h2{
	margin-bottom: 15px;
}

.blog-article p > img {
	height: auto;
	width: 100%;
}

.blog .meta-info p {
	line-height: 1em;
	font-weight: normal;
}

.blog .meta-info p > a {
	color: var(--main-orange);
	font-weight: normal;
} 

/** Footer **/
footer {
	margin-top: 25px;
	padding: 25px 0 15px;
	background-color: var(--black);
	color: var(--champagne);
}

footer a{
	color: var(--vivid-orange);
}

.copyright {
	padding: 20px 0 15px;
}

.copyright a, .copyright a:visited {
	color: var(--vivid-orange);
}

.copyright a:hover{
	color: var(--light-orange);
	text-decoration: none;
}

/** Footer Menu **/
.footer-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.footer-menu ul li {
	display: inline;
	margin: 15px 0;
}

.footer-menu ul li:last-child {
	margin: 0;
}

.footer-menu ul li a {
	color: var(--champagne);
	text-decoration: none;
}

.footer-menu ul li.current-menu-item a{
	color: var(--main-orange);
}

.footer-menu a:hover {
	color: var(--light-orange);
}