/** Colors **/

:root {
	--wine: #990000;
	--main-orange: #ca2604;
	--vivid-orange: #d84a05;
	--light-orange: #ec7505;
	--yellow: #e89005;
	
	--beige: #F5E2C8;
	--grey: #BBB8B2;
	--light-grey-1: #eae9e7;
	--light-grey-2: #f8f7f7;
	--white: #fff;
	--black: #222;	
}

$theme-default-color: var(--main-orange);

/** Typography **/
$default-font-size: 1.6rem;