/** Colors **/

:root {
	--main-orange: #ca2604;
	--red: #91171F;
	--orange-red: #B52203;
	--wine: #5F021F;
	--vivid-orange: #BC5D2E;
	--light-orange: #EA8C55;
	--yellow: #F0C808;
	--beige: #F5E2C8;
	--champagne: #BBB8B2;
	--white: #FCF7F8;
	--black: #121217;
}

/** Typography **/
$default-font-size: 1.6rem;